@import "tailwindcss";

html{
scroll-behavior:smooth;
}

body{
background:#020617;
color:white;
font-family:Arial,Helvetica,sans-serif;
}

.section{
padding:90px 8%;
}

.title{
font-size:42px;
font-weight:700;
text-align:center;
margin-bottom:50px;
}

.card{
background:rgba(255,255,255,.05);
backdrop-filter:blur(12px);
border:1px solid rgba(255,255,255,.08);
border-radius:24px;
transition:.35s;
}

.card:hover{
transform:translateY(-8px);
box-shadow:0 15px 45px rgba(59,130,246,.25);
}

.btn{
padding:14px 34px;
border-radius:999px;
font-weight:700;
transition:.3s;
}

.btn-primary{
background:#38bdf8;
color:white;
}

.btn-primary:hover{
transform:scale(1.05);
background:#0ea5e9;
}

.btn-outline{
border:2px solid #38bdf8;
}

.btn-outline:hover{
background:#38bdf8;
}